#button {
    position: relative;
    width: 300px;
    height: 100px;
    left: 50%;
    margin-left: -150px;
    color: white;
    background-color: black;
}

#placeholder {
    width: 100%;
    height: 200px;
    background-color: darkred; 
    font-size: 90px;     
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#genre {
    position: relative;
    width: 240px;
    height: 60px;
    left: 50%;
    margin-left: -120px;
    margin-top: 50px;
    font-size: 16px;
    overflow: hidden;
}